extends ./layouts/main

block content
  .container
    .blue hostUUID
    p #{data.hostUUID}
    .blue hostname
    p #{data.hostname}
    .blue type
    p #{data.type}
    .blue platform
    p #{data.platform}
    .blue arch
    p #{data.arch}
    .blue nbCPU
    p #{data.nbCPU}
    .blue loadavg
    p #{data.loadavg}
    .blue loadCPU
    p #{data.loadCPU}
    .blue loadRAM
    p #{data.loadRAM}
    .blue UTCdate
    p #{data.UTCdate}
    .blue networkInterfaces
    p #{data.networkInterfaces}
    .blue cpus
    p #{data.cpus}

  each link in links
    link(rel=link.rel, href=link.href)
  each script in scripts
    script(src=script)