extends ./layouts/main

block content
  .container
    .blue hostUUID
    p #{data.hostUUID}
    .blue hostname
    p #{data.hostname}
    .blue type
    p #{data.type}
    .blue platform
    p #{data.platform}
    .blue arch
    p #{data.arch}
    .blue nbCPU
    p #{data.nbCPU}
    .blue loadCPU
    p #{data.loadCPU}
    .blue loadRAM
    p #{data.loadRAM}
    .blue UTCdate
    p #{data.UTCdate}
    .blue networkInterfaces
    each val, index in data.networkInterfaces
      - var myval = JSON.stringify(val);
      p #{index} : #{myval}
    .blue cpus
    each val, index in data.cpus
      - var myval = JSON.stringify(val);
      p #{myval}
    .blue environmentVars
    each val, index in data.environmentVars
      p #{index} : #{val}

  each link in links
    link(rel=link.rel, href=link.href)
  each script in scripts
    script(src=script)